<h2>Index</h2>
<div id="msmq"></div>
<script src="@Url.Content("~/Scripts/jquery-3.3.1.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.signalR-2.4.0.js")"></script>
<script src="@Url.Content("~/signalr/hubs")"></script>
<script>
    const hubProxy = $.connection.msmqHub;
    hubProxy.client.ping = function () {
        $('#msmq').text(`${$('#msmq').text()} ${Date.now()}: new ping\n`);
        window.scrollTo(0, document.body.scrollHeight);
        hubProxy.server.ping();
    };
    $.connection.hub.start().done(() => {
        console.log('connected');
        hubProxy.server.ping();
    }).fail(() => console.log('fail'));
</script>